<footer class="bg-light text-center text-lg-start">
        <!-- Grid container -->
        <div class="container p-4">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Companion Finder</h5>
                    <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#p1" class="text-dark">About us</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Our Services</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#p8" class="text-dark">Find a pet sitte</a>
                        </li>
                        <li>
                            <a href="#p3" class="text-dark">Become a pet sitter</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase mb-0">Support</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="text-dark">Contact
                                us</a>
                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Us</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label class="form-label" for="name">Name</label>
                                                <input class="form-control" id="name" type="text" placeholder="Name"
                                                    data-sb-validations="required" />
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label class="form-label" for="emailAddress">Email Address</label>
                                                <input class="form-control" id="emailAddress" type="email"
                                                    placeholder="Email Address" data-sb-validations="required, email" />
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label class="form-label" for="message">Message</label>
                                                <textarea class="form-control" id="message" type="text"
                                                    placeholder="Message" style="height: 10rem;"
                                                    data-sb-validations="required"></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-body">
                                            <div class="d-grid">
                                                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
</footer>