<footer class="text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4 content-area">
        <!--Grid row-->
        <div class="row justify-content-evenly text-center">
            <!--Grid column-->
            <div class="col-md-3 mb-2 mb-md-0">
                <h5 class="text-uppercase footer-title">Companion Finder</h5>
                <ul class="list-unstyled mb-0">
                    <li class="item-list">
                        <a href="http://localhost:3000/#about" class="text-dark">About us</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
            <div class="col-md-3 mb-2 mb-md-0">
                <h5 class="text-uppercase footer-title">Our Services</h5>
                <ul class="list-unstyled">
                    <li class="item-list">
                        <a href="/jobList" class="text-dark">Get a job</a>
                    </li>
                    <!-- <li class="item-list">
                        <a href="/login" class="text-dark">Become a pet sitter</a>
                    </li> -->
                    <li class="item-list">
                        <a href="/sitterList" class="text-dark">Find Pet Sitter</a>
                    </li>
                    <!-- <li class="item-list">
                        <a href="/login" class="text-dark">Post Your Requirement</a>
                    </li> -->
                </ul>
            </div>
            <!--Grid column-->
            <div class="col-md-3 mb-2 mb-md-0 ">
                <h5 class="text-uppercase footer-title">Support</h5>
                <ul class="list-unstyled">
                    <li class="item-list">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="text-dark">Contact
                            us</a>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Contact Us</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <!-- <label class="form-label contact-name" for="name">Name</label> -->
                                            <input class="form-control" id="name" type="text" placeholder="Name"
                                                data-sb-validations="required" />
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <!-- <label class="form-label contact-email" for="emailAddress">Email Address</label> -->
                                            <input class="form-control" id="emailAddress" type="email"
                                                placeholder="Email Address" data-sb-validations="required, email" />
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <!-- <label class="form-label contact-msg" for="message">Message</label> -->
                                            <textarea class="form-control" id="message" type="text"
                                                placeholder="Message" style="height: 10rem;"
                                                data-sb-validations="required"></textarea>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="d-grid">
                                            <button class="btn btn-primary btn-lg contact-btn" type="submit">Submit</button>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
            <hr>
        </div>
        <div class="text-center copyright">
            ©2023 Copyright All rights reserved made with
            <img src="https://img.icons8.com/dotty/30/6B9080/pets.png" />
            by Team2
        </div>
        <!--Grid row-->
    </div>
</footer>