<header>
  <nav class="navbar navbar-light bg-light navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand" href="/index"><span>Companion Finder</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Get a Job</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Find Pet Sitters</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Post Request</a>
          </li>
          <!-- dropdown menu -->
          <li class="nav-item dropdown dropdown-area">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Welcome, User name
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li class="dropdown-li"><a class="dropdown-item" href="/profile/createPetOwner">Profile</a></li>
              <li class="dropdown-li"><a class="dropdown-item" href="/users/dashboard">Dashboard</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li class="dropdown-li"><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>