@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Noto+Sans&display=swap');

.dashboard-title {
    padding-top: 40px;
    padding-bottom: 60px;
    width: 377px;
    height: 58px;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 35px;
    text-shadow:
        -1px 0px 0px #A4C3B2,
        4px 0px 0px #A4C3B2,
        0px -1px 0px #A4C3B2,
        0px 4px 0px #A4C3B2;
    color: #6B9080 !important;
}

.dashboard-prev {
    margin-left: -70px;
}

.dashboard-next {
    margin-right: -55px;
}

.card-area {
    width: 300px;
    height: 300px;
    /* margin: auto; */
    margin-left: 100px;

}
.dashboard-card {
    transition: all 0.5s ease-out;
}
.card-title-dashboard {
    margin-bottom: 1px;
    font-family: 'Noto Sans';
}

.card-col {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 400px;
    margin-right: -50px;
    margin-left: 10px;

}

.card-content-dashboard {
    color: #6B9080;

}

.card-date-dashboard {
    font-family: 'Noto Sans';
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
}

.btn-dashboard {
    font-family: 'Noto Sans';
    position: absolute;
    left: 180px;
    margin-top: -10px;
}

.edit-btn ,.delete-btn {
    font-family: 'Noto Sans';
    padding-left: 8px;
    font-weight: 500;
    color: #FB5607;
    text-decoration: none;
    background: none !important;
    border: none;
}

.edit-btn:hover, .delete-btn:hover {
    color: #FACC22;
}

