@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600;700;800;900&display=swap');

.dashboard-title {
    padding-top: 40px;
    padding-bottom: 60px;
    width: 377px;
    height: 58px;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 35px;
    text-shadow:
        -1px 0px 0px #A4C3B2,
        4px 0px 0px #A4C3B2,
        0px -1px 0px #A4C3B2,
        0px 4px 0px #A4C3B2;
    color: #6B9080 !important;
}


.dashboard-card-area {
    width: 300px;
    height: 350px;
    margin-bottom: 20px;
    margin-right: -20px;
    margin-left: 10px;
    /* margin: auto; */
    margin-left: 100px;

}

/* .dashboard-card {
    transition: all 0.5s ease-out;
    padding-bottom: 30px;
} */

.dashboard-card-title {
    margin-bottom: 1px;
    font-family: 'Noto Sans';
}

.dashboard-card-content {
    color: #6B9080;

}

.dashboard-card-desc {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.dashboard-card-date {
    font-family: 'Noto Sans';
    padding-right: 10px;
    padding-left: 10px;
    font-size: 13px;
}

.btn-area {
    position: relative;
    left: 120px;
    margin-top: -10px;
}

.edit-btn,
.delete-btn {
    font-family: 'Noto Sans';
    padding-left: 8px;
    font-weight: 500;
    color: #FB5607;
    text-decoration: none;
    background: none !important;
    border: none;
}

.edit-btn:hover,
.delete-btn:hover {
    color: #FACC22;
}

.dashboard-prev {
    margin-left: -80px;
}

.dashboard-next {
    margin-right: -80px;
}

.dashboard-prev-icon, .dashboard-next-icon {
    color: #339141 !important;
}

.dashboard-prev-icon:hover, .ashboard-next-icon:hover {
    color: #FB5607 !important;
}


@media (max-width: 480px) {

    .dashboard-title-area {
        padding-top: 25px;
        padding-bottom: 10px;
    }

    .dashboard-card-area {
        width: 265px;
        height: 300px;
        margin-top: 15px;
        position: relative;
        left: -60px;
    }

    .card-title-dashboard {
        margin-bottom: 1px;
        font-family: 'Noto Sans';
    }

    .dashboard-card-date {
        margin-top: -10px;
    }

    .btn-area {
        position: relative;
        left: 80px;
        margin-top: -15px;
    }

    .dashboard-prev {
        margin-left: 0px;
    }

    .dashboard-next {
        margin-right: 0px;
    }
}

/* Media Query for low resolution  Tablets, Ipads / */
@media (min-width: 481px) and (max-width: 767px) {}

/* / Media Query for Tablets Ipads portrait mode / */
@media (min-width: 768px) and (max-width: 1024px) {}

/* / Media Query for Laptops and Desktops / */
@media (min-width: 1025px) and (max-width: 1280px) {}

/* / Media Query for Large screens / */
/* @media (min-width: 1281px) {
  
  } */