@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Noto+Sans&display=swap');

body {
    background-color: #F6FFF8;
}

/* live chat  */
/* .live-chat-area {
    position: absolute;
    top: 1300px;
    left: 1250px;
} */

.live-chat-title {
    font-size: 20px;
    color: #FB5607;
}

.live-chat {
    font-size: 60px;
    color: #FB5607;
    margin-top: -10px;
    padding-left: 13px;
    font-variation-settings:
        'FILL' 0,
        'wght' 800,
        'GRAD' 0,
        'opsz' 100
}

.floating-container {
    position: fixed;
    width: 100px;
    height: 100px;
    bottom: 0;
    right: 0;
    margin: 35px 25px;
}

.floating-container:hover {
    height: 300px;
}

.floating-container:hover .floating-button {
    transform: scale(1.2);
}

.floating-container .floating-button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    line-height: 65px;
    text-align: center;
    font-size: 23px;
    z-index: 100;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}



/* Owner Info */
.owner-info {
    background-color: #CCE3DE;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
}

.pet-info {
    padding-top: 80px;
    position: relative;
}

.info-img {
    max-width: 100%;
}

.info-img {
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
    width: 450px;
    height: 400px;
    border: 3px solid #6B9080;
    border-radius: 40px;
    object-fit: cover;

}

.pet-img {
    margin-top: 30px;
}

/* Pet Owner detail
---------------------*/
.info-list {
    padding-top: 10px;
}

.info-list {
    padding: 5px 40px;
}

/* .info-area {
    margin-top: -50px;
} */

.username {
    font-size: 30px;
    color: #6B9080;
    font-family: "Noto Sans";
    font-weight: bold;
}

.location {
    font-size: 20px;
    color: #6B9080;
    font-family: "Noto Sans";
    font-weight: 300;
    padding-left: 20px;
}

.requirement-area {
    margin-top: 20px;
}

.requirement-title {
    font-size: 25px;
    color: #6B9080;
    font-family: "Noto Sans";
    font-weight: bold;
}

.requirement {
    font-size: 20px;
    color: #6B9080;
    font-family: "Noto Sans";
    font-weight: 300;
    padding-left: 20px;
    text-align: justify;
}

/* Pet detail
---------------------*/

.petname {
    font-size: 20px;
    color: #6B9080;
    font-family: "Noto Sans";
    font-weight: bold;
}

.intro-area {
    margin-top: 20px;
}

.intro-title {
    font-size: 25px;
    color: #6B9080;
    font-family: "Noto Sans";
    font-weight: bold;
}

.introduction {
    font-size: 20px;
    color: #6B9080;
    font-family: "Noto Sans";
    font-weight: 300;
    padding-left: 20px;
    text-align: justify;
}

/* Pet Sitter INFO */
.sitter-info {
    padding-top: 20px;
    padding-bottom: 30px;
}

.aboutMe-description {
    font-size: 20px;
    color: #6B9080;
    font-family: "Noto Sans";
    font-weight: 300;
    padding-left: 20px;
    text-align: justify;
}

.experiences {
    font-size: 20px;
    color: #6B9080;
    font-family: "Noto Sans";
    font-weight: 300;
    padding-left: 20px;
    text-align: justify;
}

.photo-experiences {
   width: 250px;
   height: 250px;
   object-fit: cover;
   border: 3px solid black;
   margin-left: 12px;
   margin-right: 12px;
}

.photo-inColumns {
    text-align: center;
}

.rate-title {
    font-size: 25px;
    color: #6B9080;
    font-family: "Noto Sans";
    font-weight: bold;
}

.rate-from {
    font-size: 20px;
    color: #6B9080;
    font-family: "Noto Sans";
    font-weight: 300;
    padding-left: 20px;
    text-align: justify;
}

/* Date availability output */
.date-edit {
    background: yellowgreen;
}

#datepickertest .datepicker-days .table-condensed {
    /* border: 1px solid black; */
    background-color: #eee;
    width: 350px;
    height: 250px;
}

/* Datepicker legend section */
.datepicker-legend-info {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    /* justify-content: space-between; */
}

.color-square-size {
    width: 50px;
    height: 40px;
    margin-right: 10px;
}

.color-square-size p {
    text-align: center;
}

.square-color-availability {
    height: 100%;
    width: 100%;
    background-color: yellowgreen;
    border-radius: 10px;
    border: 1px solid black;
}

/* .square-color-select {
    height: 100%;
    width: 100%;
    background-color: #FB5607;
    border-radius: 10px;
    border: 1px solid black;
} */

.square-color-today {
    height: 100%;
    width: 100%;
    background-color: #fde19a;
    border-radius: 10px;
    border: 1px solid black;
}

.mobile-legend-info {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

@media (max-width: 1200px){
    .datepicker-legend-info {
        flex-direction: column;
    }

    .mobile-legend-info {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }
}

/* pet owner mobile view */
@media (max-width: 991px) {
    .info-img {
        width: 800px;
        height: 400px;
        object-fit: cover;
    }

    .info-avatar {
        text-align: center;
    }

    .about-info {
        margin-top: 30px;
    }

    .info-area {
        margin-top: 20px;
        text-align: center;
    }

    .owner-info {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .username {
        font-size: 25px;
        
    }

    .location {
        font-size: 20px;
        padding-left: 0;
    }

    .requirement-title {
        font-size: 25px;
    }

    .requirement {
        font-size: 20px;
        padding-top: 10px;
    }

    /* pet mobile view */
    .about-avatar {
        text-align: center;
    }

    .intro-area {
        margin-top: 22px;
        text-align: center;
    }

    .pet-info {
        padding-top: 50px;
        padding-bottom: 30px;
    }

    .petname {
        font-size: 25px;
    }

    .aboutMe-description {
        text-align: center;
    }

    .intro-title {
        font-size: 25px;
        text-align: center;
    }

    .introduction {
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
    }

    .floating-container {
        width: 90px;
        height: 90px;
        margin: 30px 15px;
    }

    .live-chat-title {
        font-size: 15px;
        color: #FB5607;
        margin-bottom: -2px;
    }

    .live-chat {
        font-size: 35px;
    }

    /* Pet Sitter Info Mobile View */
    .sitter-info {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .photo-inColumns {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        
    }

    .photo-experiences {
        margin-top: 12px;
        width: 100%;
        height: 300px;
    }

    .rate-title {
        font-size: 25px;
        text-align: center;
    }

    .rate-from {
        font-size: 20px;
        padding-top: 10px;
        text-align: center;
    }

    /* Datepicker output mobile view */
    .datepickertest-edit {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .datepickertest-edit #datepickertest {
        margin-right: 20%;
    }

    #datepickertest .datepicker-days .table-condensed {
        /* border: 1px solid black; */
        background-color: #eee;
        width: 0px;
        height: 0px;
    }

    /* Datepicker legend info mobile view */
    /* .color-square-size {
        margin-right: 0px;
    } */

}
