/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Noto+Sans&display=swap');

/* header */
header {
	/* position: fixed; */
	z-index: 1;
	width: 100%;
    background-color: #EAF4F4;
}

.bg-light {
	background-color: transparent !important;
}

.navbar-brand {
	font-size: 2em;
	font-weight: 800;
    font-family: 'Bree Serif';
    color: #6B9080;
}

.navbar-brand:hover {
    color: #6B9080;
}

.nav-link {
    font-weight: 300;
    font-size: 20px;
    color: #6B9080 !important;
    font-family: 'Noto Sans';
    margin-right: 25px;
}

/* .nav-item .nav-link:hover {
	background-color: black;
	color: white !important;
} */

/* .active {
	background-color: black;
	color: white !important;
} */

/* footer */
footer {
    /* position: fixed; */
    background-color: #EAF4F4 !important;
    margin-top: 50px;
    padding-top: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: "Noto Sans";
    color: #6B9080;
}
.footer-title {
    font-weight: 800;
}
.list-unstyled {
    padding-bottom: 10px;
}

.item-list a{
    text-decoration: none;
    color: #6B9080 !important;
}

.item-list a:hover{
    text-decoration: none;
    color: #FB5607 !important;
}

.copyright {
    padding-top: 10px;
}

/* contact us form */
.btn-primary {
    background-color: #FB5607;
    border: #FB5607;
}

.btn-primary:hover {
    background-color: #FACC22;
    color: #339141;
}

@media (max-width: 991px) {
    .me-auto {
        padding-left: 0px;
    }
}