@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Noto+Sans&display=swap');

/* body {
    background-color: #CCE3DE;
} */

.list-area {
    padding-left: 200px;
    padding-right: 200px;
}

.job-title {
    /* margin-top: 40px; */
    /* margin-bottom: 40px; */
    padding-top: 40px;
    padding-bottom: 60px;
    width: 377px;
    height: 58px;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 35px;
    /* line-height: 58px; */
    text-shadow:
        -1px 0px 0px #A4C3B2,
        4px 0px 0px #A4C3B2,
        0px -1px 0px #A4C3B2,
        0px 4px 0px #A4C3B2;
    color: #6B9080;
}

.sitter-title {
    /* margin-top: 40px;
    margin-bottom: 40px; */
    padding-top: 40px;
    padding-bottom: 60px;
    width: 450px;
    height: 58px;
    font-family: 'Noto Sans';
    font-weight: 600;
    font-size: 35px;
    /* line-height: 58px; */
    text-shadow:
        -1px 0px 0px #A4C3B2,
        4px 0px 0px #A4C3B2,
        0px -1px 0px #A4C3B2,
        0px 4px 0px #A4C3B2;
    color: #6B9080;
}

/* filter */
.filter-area {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.province {
    margin-left: 5px;
}

.city {
    margin-left: 32px;
}

.type {
    margin-left: -18px;
}

.age {
    margin-left: -32px;
}

.weight {
    margin-left: -38px;
}

.type-selectpicker,
.weight-selectpicker,
.province-selectpicker,
.city-selectpicker,
.age-selectpicker,
.services-selectpicker {
    /* font-size: 15px; */
    padding: 2px 3px;
    border-radius: 10px;
    border: 2px #A4C3B2 solid;
    color: #6B9080;
    font-size: 13px !important;
    text-align: center;
}

.province-selectpicker {
    width: 180px;
    font-size: 13px !important;
}

.city-selectpicker {
    width: 135px;
}

.services-selectpicker {
    margin-left: -15px;
}

.price-min-control,
.price-max-control {
    font-size: 15px;
    padding: 2px 3px;
    border-radius: 10px;
    border: 2px #A4C3B2 solid;
    color: #6B9080;
    font-size: 13px !important;
    text-align: center;
    width: 100px;
}

.price-min {
    position: relative;
    left: -30px;
    width: 100px;
}

.price-max {
    width: 100px;
    position: relative;
    right: 20px;
}

.to {
    width: 10px;
    position: relative;
    right: 22px;
    font-family: 'Noto Sans';
    color: #6B9080;
    font-weight: 700;
}

.search-btn {
    width: 85px;
    height: 25px;
    margin-left: 10px;
    margin-top: 1px;
    background: #FB5607;
    border-radius: 10px;
    border: none;
    font-family: 'Noto Sans';
    font-weight: 700;
    font-size: 15px;
    color: #F6FFF8;
    text-align: center;
    position: relative;
    right: 20px;
}

.search-btn:hover {
    background-color: #FACC22;
    color: #339141;
}

.post-card {
    border: #6B9080 2px solid;
    border-radius: 15px 50px;
    background-color: #CCE3DE;
}

.card-img {
    /* padding: 30px 20px; */
    /* width: 300px;
    height: 250px; */
    margin: 30px 10px;
    border: #6B9080 3px dotted;
    border-radius: 10px;
    box-shadow: rgba(38, 166, 154, 1) 0px 7px 29px 0px;
}

.card-title {
    font-family: 'Noto Sans';
    color: #6B9080;
    font-weight: 600;
}

.pet-list-img {
    object-fit: cover;
    height: 194.53px;
}

.card-content-list {
    margin-top: 30px;
    margin-bottom: 10px;
}

.location {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Noto Sans';
    color: #6B9080;
}

.info {
    font-size: 13px;
    font-weight: 800;
    font-family: 'Noto Sans';
    color: #6B9080;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical
}

.read-more {
    font-size: 15px;
    font-weight: 700;
    /* width: 150px; */
    border: none;
    color: #339141;
    position: relative;
    left: 350px;
}

.read-more:hover {
    color: #FB5607;
    /* transform: scale(1.1); */
}

.list-text-muted {
    /* margin-right: 20px; */
    font-family: 'Noto Sans';
}

.pet-card-date,
.sitter-card-date {
    margin-top: 15px;
}

.pet-date-list,
.sitter-date-list {
    font-size: 14px !important;
    font-weight: 500 !important;
    position: relative;
    left: 400px;
}

@media (max-width: 480px) {
    .job-title {
        padding-top: 20px;
        padding-bottom: 40px;
        margin-top: 15px;
        font-size: 22px;
        width: 190px;
    }

    .sitter-title {
        padding-top: 20px;
        padding-bottom: 40px;
        font-size: 25px;
    }

    .list-area {
        padding-left: 30px;
        padding-right: 30px;
    }

    .filter-area {
        margin-top: 20px;
        margin-bottom: 30px;
        margin-left: 30px;
    }

    .type-selectpicker,
    .weight-selectpicker,
    .province-selectpicker,
    .city-selectpicker,
    .age-selectpicker {
        width: 240px;
        text-align: center;
        margin-bottom: 3px;
    }

    .province {
        margin-left: 0px;
    }

    .city {
        margin-left: 0px;
    }

    .type {
        margin-left: 0px;
    }

    .age {
        margin-left: 0px;
    }

    .weight {
        margin-left: 0px;
    }

    .search-btn {
        margin-top: 5px;
        position: relative;
        left: 12px;
        width: 200px;
    }

    .card-img {
        margin: 20px 0px;
        border-radius: 15px 50px;
    }

    .read-more {
        position: relative;
        left: 180px;
    }

    .pet-card-date,
    .sitter-card-date {
        margin-top: 15px;
    }

    .pet-date-list,
    .sitter-date-list {
        position: relative;
        left: 0px;
    }

}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    /* body {
        background-color: yellow;
    } */
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    .job-title {
        padding-top: 20px;
        padding-bottom: 40px;
        font-size: 25px;
        /* width: 210px; */
    }

    .sitter-title {
        padding-top: 20px;
        padding-bottom: 40px;
        font-size: 25px;
        /* width:210px; */
    }

    .list-area {
        padding-left: 30px;
        padding-right: 30px;
    }

    .filter-area {
        margin-top: 20px;
        margin-bottom: 10px;
        margin-left: 0px;
    }

    .province-selectpicker {
        width: 135px;
        text-align: center;
        margin-bottom: 3px;
    }

    .province {
        width: 100px;
    }

    .city {
        width: 50px;
        position: relative;
        left: 5px;
    }

    .type {
        width: 100px;
        position: relative;
        left: 85px;
    }

    .age {
        width: 80px;
        position: relative;
        left: 129px;
    }

    .weight {
        width: 100px;
        position: relative;
        left: 200px;
    }

    .services {
        width: 70px;
        position: relative;
        left: 82px;
    }

    .services-selectpicker {
        width: 125px;
    }

    .price-min-control,
    .price-max-control {
        width: 80px;
    }

    .price-min {
        position: relative;
        left: 124px;
        width: 80px;
    }

    .price-max {
        width: 80px;
        position: relative;
        left: 124px;
    }

    .to {
        width: 10px;
        position: relative;
        left: 128px;
    }

    .city-selectpicker,
    .type-selectpicker {
        width: 110px;
    }

    .age-selectpicker {
        width: 110px;
    }

    .weight-selectpicker {
        width: 125px;
    }

    .search-btn {
        margin-top: 0px;
        width: 60px;
        font-size: 12px;
        position: relative;
        left: 120px;
    }

    .pet-search-btn {
        width: 95px;
        margin-top: -1px;
        position: relative;
        left: 100px;
    }

    .card-img {
        margin: 20px 0px;
        border-radius: 15px 50px;
    }

    .read-more {
        font-size: 15px;
        font-weight: 700;
        /* width: 150px; */
        border: none;
        position: relative;
        left: 250px;
    }

    .list-text-muted {
        /* margin-right: 20px; */
        font-family: 'Noto Sans';
    }

    .pet-card-date,
    .sitter-card-date {
        margin-top: 0px;
    }

    .pet-date-list,
    .sitter-date-list {
        font-size: 12px !important;
        font-weight: 500 !important;
        position: relative;
        margin-top: 5px;
        left: 300px;
    }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    .login-img {
        margin-top: 50px;
        border-radius: 30px;
    }

    .login-h-custom {
        height: 100%;
    }

    .login-title {
        margin-left: 40px;
        margin-right: 20px;
    }

    .login-hr {
        width: 330px;
    }

    .login-form-outline {
        margin-left: 10px;
    }

    .login-form-control {
        width: 350px;
    }

    .none-account {
        margin-top: 3px;
        /* margin-left: 20px;
        margin-right: 20px; */
    }

    .sign-in-btn {
        margin-left: 0px;
    }

    .third-party-title {
        margin-top: -20px;
        margin-bottom: 10px;
    }

    .third-party {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .login-form-control {
        width: 360px;
        margin-top: -5px;
        margin-bottom: -20px;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
    /* body {
        background-color: white;
    } */
}