@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Noto+Sans&display=swap');

.login-title {
    text-align: center;
    color: #6B9080;
    margin-left: -20px;
    margin-right: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: "Noto Sans";
    font-size: 40px;
    font-weight: 700;
}

.login-hr {
    border-color: #B4B1B1;
    border: 1px solid;
    width: 400px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.login-form {
    font-family: "Noto Sans" !important;
}

/* form label */
.login-form-outline {
    font-weight: 600;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #6B9080;

}

/* form input */
.login-form-control {
    border-radius: 50px !important;
    width: 380px;
}

.none-account {
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* submit btn */
.sign-in-btn {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: #FB5607;
    border-color: #FB5607;
    align-items: center;
}

.sign-in-btn:hover {
    background-color: #FACC22;
    border-color: #FACC22;
    color: #339141;
}

/* Third party */
.third-party-title {
    color: #6B9080;
    font-family: "Noto Sans";
}

.facebook-btn,
.google-btn,
.twitter-btn {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    background-color: #FB5607;
    border-color: #FB5607;
    align-items: center;
}

.facebook-btn:hover,
.google-btn:hover,
.twitter-btn:hover {
    background-color: #FACC22;
    border-color: #FACC22;
    color: #339141;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.divider-or {
    color: #6B9080;
    font-family: "Noto Sans";
    font-weight: bold;
}

/* Third party end */

.login-h-custom {
    height: calc(100% - 73px);
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
    .login-img {
        margin-top: 20px;
    }

    .login-form-area {
        margin-top: -30px;
    }

    .login-title {
        margin-left: 0px;
        margin-right: 0px;
    }

    .login-hr {
        width: 370px;
    }

    .login-form-outline {
        margin-top: -10px;
        margin-right: 5px;
    }

    .login-form-control {
        width: 360px;
    }

    .are-you {
        margin-top: -5px;
        margin-bottom: 10px;
    }

    .user-type {
        margin-left: 65px;
        margin-right: 10px;
    }

    .sign-in-btn {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        margin-top: 0px;
    }

    .google-btn,
    .facebook-btn,
    .twitter-btn {
        border-radius: 40px 40px 40px 40px !important;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .bi-google,
    .bi-twitter,
    .bi-facebook {
        margin-top: -3px;
    }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    /* body {
        background-color: yellow;
    } */
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
    /* body {
        background-color: blue;
    } */
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    .login-img {
        margin-top: 50px;
        border-radius: 30px;
    }

    .login-h-custom {
        height: 100%;
    }

    .login-title {
        margin-left: 40px;
        margin-right: 20px;
    }

    .login-hr {
        width: 330px;
    }

    .login-form-outline {
        margin-left: 10px;
    }

    .login-form-control {
        width: 350px;
    }

    .none-account {
        margin-top: 3px;
        /* margin-left: 20px;
        margin-right: 20px; */
    }

    .sign-in-btn {
        margin-left: 0px;
    }

    /* .or-area {
        margin-left: 0px;
    } */

    .third-party-title {
        margin-top: -20px;
        margin-bottom: 10px;
    }

    .third-party {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .login-form-control {
        width: 360px;
        margin-top: -5px;
        margin-bottom: -20px;
    }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {

    .login-title {
        font-size: 55px;
        margin-left: -15px;
        margin-right: 0px;
    }

    .login-hr {
        width: 330px;
    }
    .login-label {
        margin-left: 50px;
        margin-bottom: 20px;
    }

    .login-form-outline {
        margin-left: 10px;
    }

    .login-form-control {
        margin-left: 50px;
        width: 500px !important; 
    }

    .none-account {
        margin-top: 25px;
        margin-left: 60px;
    }

    .sign-in-btn {
        margin-left: 0px;
    }

    .third-party-area {
        margin-top: 30px;
        margin-left: 120px;
    }

    .third-party-title {
        font-size: 25px;
        font-weight: 700 !important;
        margin-top: -20px;
        margin-bottom: 10px;
    }

    .third-party {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .login-form-control {
        width: 360px;
        margin-top: -5px;
        margin-bottom: -20px;
    }

    .login-hr {
        width: 600px;
    }
}