@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600;700;800;900&display=swap');

.titlePost {
    margin-top: 10%;
}

.post-hr {
    margin-top: 30px;
}

#slider-div {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

#slider-div>div {
    margin: 8px;
}

.slider-label {
    position: absolute;
    background-color: #eee;
    padding: 4px;
    font-size: 0.75rem;
}

.post-title-area h3 {
    font-size: 35px;
    font-family: "Noto Sans";
    font-weight: 600;
}

.text_edit {
    color: #6B9080;
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px !important;
}

.input-border {
    border: 1px solid black;
    border-radius: 13px;
}

.start-date,
.end-date {
    width: 400px;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    /* background-image: url(/image/icon-calendar.png); */
}

/* owner post */
.dateInput {
    border-radius: 15px;
    border: 2px solid #6B9080;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    color: #6B9080;
}

.owner-save-btn {
    background: #FB5607;
    border: 1px solid #FB5607;
    font-weight: 600;
    padding: 8px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 20px;
}

.owner-save-btn:hover {
    background-color: #FACC22;
    border: 1px solid #FACC22;
    color: #26A69A;
}

/* sitter post */

.sitter-input-area {
    margin-top: -80px;
}

/* .sitter-input-title,
.owner-input-title {
    width: 810px;
} */

.sitter-input-title,
    .owner-input-title {
        width: 100%;
    }

/* .experience-input,
.desc-input {
    width: 810px;
    height: 200px;
} */

.experience-input,
.desc-input {
    width: 100%;
    height: 200px;
}

.post-service-icon {
    width: 20px;
    height: 20px;
}

.post-save-btn {
    background: #FB5607;
    border: 1px solid #FB5607;
    font-weight: 600;
    padding: 8px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 100px;
}

.post-save-btn:hover {
    background-color: #FACC22;
    border: 1px solid #FACC22;
    color: #26A69A;
}

/* Pet Sitter Date availability Input*/
#datepicker td, th {
    text-align: center;
    padding: 6px 12px 6px 12px;
    font-size: 10px;
}

#datepicker .datepicker-days {
    border: 1px solid black;
    background-color: #6B9080;;
}

.datepicker table {
    background-color:#CCE3DE;
    border: 3px solid #26A69A;
    border-radius: 5px;
}

.datepicker th {
    font-size: 13px;
}

.datepicker table tr td.highlighted {
    background: #EAF4F4 !important;
}

.dropdown-menu {
    background: transparent;
    font-size: 14px; 
}

/* When selecting the dates, the color will be this */
.datepicker table tr td.active, 
.datepicker table tr td.active.disabled, 
.datepicker table tr td.active.disabled:hover, 
.datepicker table tr td.active:hover {
    background-color: #FB5607 !important;
    border-radius: 5px;
    background-image: none !important;
}

/* Change the font size of the schedule month header */
.datepicker .datepicker-switch, 
.datepicker .next, 
.datepicker .prev, 
.datepicker tfoot tr th {
    font-size: 15px;
}

/* SitterPost and PetOwnerPost view change */
@media (max-width: 992px) {

    .startDate {
        margin-right: 0px;
    }

    .row-owner-dates .row {
        text-align: -webkit-center;
    }
    
    .post-date-area div.row.g-3 {
        display: block;
    }

    .start-date, .end-date {
        width: 320px;
    }

}

/* Mobile View for sitterPost */
/* @media (max-width: 750px) {
    .mediaTest {
        display: flex;
        flex-direction: column;
    }
} */

@media (max-width: 415px) {

    .startDate {
        align-items: center;
    }

    .endDate {
        align-items: center;
        margin-left: 0px;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    .start-date,
    .end-date {
        width: 320px;
    }

    .post-date-area {
        margin-top: 10px;
    }

    .post-save-btn {
        /* margin-top: 50px; */
        margin-right: 90px;
    }

    /* This is only for pet owner post page save btn */
    .mobile-view-owner-btn .text-end {
        text-align: center !important; 
    }

    .mobile-view-owner-btn .text-end .owner-save-btn {
        margin-right: 0px;
    }

}

/* Media Query for low resolution  Tablets, Ipads / */
@media (min-width: 481px) and (max-width: 767px) {

    /* .sitter-input-title,
    .owner-input-title {
        width: 150px;
    }

    .experience-input,
    .desc-input {
        width: 150px;
        height: 100px;
    } */
}

/* / Media Query for Tablets Ipads portrait mode / */
@media (min-width: 768px) and (max-width: 1024px) {

    /* .sitter-input-title,
    .owner-input-title {
        width: 150px;
    }

    .experience-input,
    .desc-input {
        width: 150px;
        height: 100px;
    } */

}

/* / Media Query for Laptops and Desktops / */
@media (min-width: 1025px) and (max-width: 1280px) {
    .login-img {
        margin-top: 50px;
        border-radius: 30px;
    }

    .login-h-custom {
        height: 100%;
    }

    .login-title {
        margin-left: 40px;
        margin-right: 20px;
    }

    .login-hr {
        width: 330px;
    }

    .login-form-outline {
        margin-left: 10px;
    }

    .login-form-control {
        width: 350px;
    }

    .none-account {
        margin-top: 3px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .sign-in-btn {
        margin-left: 0px;
    }

    .or-area {
        margin-left: 0px;
    }

    .third-party-title {
        margin-top: -20px;
        margin-bottom: 10px;
    }

    .third-party {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .login-form-control {
        width: 360px;
        margin-top: -5px;
        margin-bottom: -20px;
    }
}

@media (min-width: 1200px) and (max-width: 1400px){
    .start-date, .end-date {
        width: 530px;
    }
}

/* / Media Query for Large screens / */
@media (min-width: 1281px) {
    

}