@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500;600;700;800;900&display=swap');

/* .profile-title {
    color: #6B9080;
}

.imgPosition {
    text-align: center;
}

.marginPosition {
    margin-left: 30%;
}

.mw-100 {
    max-width: 80%!important;;
}

.col-md-5 {
    width: 50%;
} */

/* PROFILE IMG CSS */
/* 
label.filebutton {
    overflow:hidden;
    position:relative;
    border: 2px solid #6B9080;
    border-radius: 15px;
    height: 250px;
    width: 200px;
}

label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding-top:0;
} */

.rounded {
    border-radius: 5px !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.text-secondary {
    --bs-text-opacity: 1;
    color: rgba(107, 144, 128, 0.5) !important;
}

.profile-province-icon,
.profile-city-icon,
.pet-type-icon,
.pet-age-icon,
.pet-weight-icon {
    width: 20px;
    height: 20px;
}

.profile-form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    color: #29292e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5dfe4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

/* image upload */

.img-required {
    color:red;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    top: -10px;
    right: 38px;

}

.name-required {
    color:red;
    font-size: 15px;
    font-weight: 600;
}

.square {
    /* margin: auto;
    vertical-align: middle; */
    /* border: 1px solid #e5dfe4; */
    /* background-color: #fff; */
    border-radius: 5px;
    width: 300px;
    height: 300px;
    border: 2px dashed #ccc;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    object-fit: cover;
}

.file-input-container {
    position: relative;
}

.file-input-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-input-container label {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}


.file-input-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.file-input-container #preview {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
}

.photo-square {
    border-radius: 5px;
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

#pet-preview {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
}

#photo1-preview {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

#photoCover2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

.profile-save-btn {
    background-color: #FB5607;
    border: 1px solid #FB5607;
    font-weight: 600;
    padding: 8px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: -50px;
    margin-bottom: 50px;
}

.profile-save-btn:hover {
    background-color: #FACC22;
    border: 1px solid #FACC22;
    color: #26A69A;
}

.profile-skip-btn {
    background: none;
    border: none;
    color: #339141;
    font-size: 20px;
    font-weight: 600;
    margin-top: -50px;
    margin-bottom: 50px;
}

.profile-skip-btn:hover {
    background: none;
    border: none;
    color: #26A69A;
}

.my-5 h3 {
    color: #6B9080;
}

.label-text {
    color: #6B9080;
    font-weight: 600;
}

/* Pet profile picture to fit content */
.pet-preview-img {
    width: 100%;
}

.preview-img {
    width: 100%;
    height: 100%;
}

img[src*="add-img.png"]{
    width: 30%;
    height: 30%;
    margin-top: 35%;
}

.sitter-add-imgs img[src*="add-img.png"]{
    margin-top: 0px;
}

/* Save Btn */
.sitter-save-mid-btn {
    background: #FB5607;
    border: 1px solid #FB5607;
    font-weight: 600;
    padding: 8px;
    padding-left: 45px;
    padding-right: 45px;
}

/* .frameCenter {
    display: flex;
    justify-content: center;
    align-items: center;
} */

@media (max-width: 1400px) {
    .file-upload {
        display: flex;
        flex-direction: column;
    }

    .screen-change {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 0px !important;
    }

    /* Shrinking the form inputs */
    .row>* {
        flex-shrink: 2;
    }

    /* Pet Sitter profile form structure */
    .screen-structure {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
}

/* This is to change the header font sizes */
@media (max-width: 1201px){
    /* DONT delete this one */
    /* .photography-structure {
        display: flex;
        flex-wrap: nowrap;
    } */
    .photo-square {
        width: 170px;
        height: 170px;
    }
}

@media (max-width: 992px) {
    .photography-structure {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .photo-square {
        width: 200px;
        height: 200px;
    }
}

/* This is to change the form inputs */
@media (max-width: 768px) {
    .screen-change {
        display: flex;
        flex-wrap: wrap;
        
    }

    .frameCenter {
        margin-left: 20%;
    }

    .my-5 h3 {
        text-align: center;
    }

    /* Pet Sitter profile input structure */
    .screen-structure {
        flex-wrap: wrap;
    }

    .mobile-photos-view {
        display: flex;
        justify-content: center;
    }

    .mobile-photography-label {
        text-align: center;
    }

}

@media (max-width: 500px){
    .frameCenter {
        margin-left: 15%;
        margin-right: 15%;
    }

    
}

@media (max-width: 450px){
    .frameCenter {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 400px){
    .frameCenter {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 361px){
    .frameCenter {
        margin-left: 0%;
        margin-right: 5%;
    }
}