@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Noto+Sans&display=swap');

/* .profile-title {
    color: #6B9080;
}

.imgPosition {
    text-align: center;
}

.marginPosition {
    margin-left: 30%;
}

.mw-100 {
    max-width: 80%!important;;
}

.col-md-5 {
    width: 50%;
} */

/* PROFILE IMG CSS */
/* 
label.filebutton {
    overflow:hidden;
    position:relative;
    border: 2px solid #6B9080;
    border-radius: 15px;
    height: 250px;
    width: 200px;
}

label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding-top:0;
} */

.rounded {
    border-radius: 5px !important;
}

.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

.text-secondary {
    --bs-text-opacity: 1;
    color: rgba(107, 144, 128, 0.5) !important;
}

.profile-province-icon,
.profile-city-icon,
.pet-type-icon,
.pet-age-icon,
.pet-weight-icon {
    width: 20px;
    height: 20px;
}

.profile-form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.6;
    color: #29292e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e5dfe4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 5px;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

/* image upload */
.square {
    /* margin: auto;
    vertical-align: middle; */
    /* border: 1px solid #e5dfe4; */
    /* background-color: #fff; */
    border-radius: 5px;
    width: 300px;
    height: 300px;
    border: 2px dashed #ccc;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    object-fit: cover;
}

.file-input-container {
    position: relative;
}

.file-input-container input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.file-input-container label {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}


.file-input-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.file-input-container #preview {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
}

.photo-square {
    border-radius: 5px;
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

#pet-preview {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
}

#photo1-preview {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

#photoCover2 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
}

.saveBtn {
    background-color: #6B9080;
    border: 1px solid #6B9080;
    padding: 8px;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.skip-btn {
    background: none;
    border: none;
    color: #6B9080;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.my-5 h3 {
    color: #6B9080;
}

.label-text {
    color: #6B9080;
    font-weight: 600;
}

/* Pet profile picture to fit content */
.pet-preview-img {
    width: 100%;
}

.preview-img {
    width: 100%;
    height: 100%;
}

img[src*="add-img.png"]{
    width: 30%;
    height: 30%;
    margin-top: 35%;
}

.sitter-add-imgs img[src*="add-img.png"]{
    margin-top: 0px;
}

/* .frameCenter {
    display: flex;
    justify-content: center;
    align-items: center;
} */

@media (max-width: 1400px) {
    .file-upload {
        display: flex;
        flex-direction: column;
    }

    .screen-change {
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 0px !important;
    }

    /* Shrinking the form inputs */
    .row>* {
        flex-shrink: 2;
    }

    /* Pet Sitter profile form structure */
    .screen-structure {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
}

/* This is to change the header font sizes */
@media (max-width: 1201px){
    .nav-link{
        font-size: 16px;
    }

    .photography-structure {
        display: flex;
        flex-wrap: nowrap;
    }
}

@media (max-width: 1100px) {
    .photography-structure {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

@media (max-width: 966px){
    .navbar-brand {
        font-size: 25px;
    }  
}

@media (max-width: 911px){
    .nav-link {
        font-size: 14px;
    }
}

@media (max-width: 850px){
    .nav-link {
        font-size: 12px;
    }
}

@media (max-width: 800px){
    .navbar-brand {
        font-size: 20px;
    }
    .nav-link {
        font-size: 13px;
    }
}

@media (max-width: 781px){
    /* .navbar-brand {
        font-size: 20px;
    } */
    .nav-link {
        font-size: 12px;
    }
}

/* This is to change the form inputs */
@media (max-width: 768px) {
    .screen-change {
        display: flex;
        flex-wrap: wrap;
        
    }

    .frameCenter {
        margin-left: 20%;
    }

    .my-5 h3 {
        text-align: center;
    }

    .navbar-brand {
        font-size: 2em;
    }

    .nav-link {
        font-size: 18px;
    }
}

@media (max-width: 500px){
    .frameCenter {
        margin-left: 15%;
        margin-right: 15%;
    }
}

@media (max-width: 450px){
    .frameCenter {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 400px){
    .frameCenter {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 361px){
    .frameCenter {
        margin-left: 0%;
        margin-right: 5%;
    }
}