/* .card-tal .card-tal-con{
    background-color: #42347ecb;
    height: 100%;
    color: white;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .card-tal button{
    background-color: #41347E;
    color: white
  } */
/* 
.card {
    box-shadow: 2px 2px 2px black;
}

.card-footer {
    text-align: center;
} */