<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <script src="./js/ownerProfile.js"></script>
</head>

<body>
    <%- include('../partials/header') %>
        
        <div class="container justify-content-center">
            <h5 class="profile-title text-center mt-5">My Profile</h5>
            <canvas id="c" style="display:none ;"></canvas>
            <form class="row g-3 d-flex flex-column align-items-center" id="ownerprofile" action="/profile/create" method="post" onsubmit="return validateForm()">
                
                <!-- CREATE PET OWNER PROFILE -->
                <div class="col-12 imgPosition">
                    <label class="filebutton">
                        <span>
                            <input type="file" id="myImg" name="myImg" onchange="attachMyProfile(this)">
                            <img src="/image/add-img.png" alt="Add your profile picture" id="petOwnerProfile"
                                class="imgCover">
                        </span>
                    </label>
                </div>
                
                <div class="mw-100 d-flex justify-content-evenly">
                    <label for="inputEmail4" class="form-label text_edit">Name:</label>
                    <div class="col-md-5">
                        <input type="text" name="name" class="form-control" id="name" value="<%= name%>" >
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit">Email:</label>
                    <div class="col-md-5">
                        
                        <input name="email" type="email" class="form-control" id="email"  value="<%= email%>" >
                    </div>
                </div>
                
                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit">Phone:</label>
                    <div class="col-md-5">
                        
                        <input id="phone" name="phone" type="text" class="form-control" id="phone">
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit">Location:</label>
                    <div class="col-md-5">
                        
                        <div class="input-group">
                            <label  class="input-group-text">Province</label>
                            <select id="province" name="province" class="form-select">
                                <option selected>Choose...</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                            
                        </div>
                    </div>
                </div>
                
                <div class="mw-100 d-flex justify-content-around">
                    <div class="col-md-5 marginPosition">
                        <div class="input-group">
                            <label  class="input-group-text">City</label>
                            <select id="city" name="city" class="form-select">
                                <option selected>Choose...</option>
                                <option value="Vancouver">Vancouver</option>
                                <option value="Richmond">Richmond</option>
                                <option value="Burnaby">Burnaby</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit">Password:</label>
                    <div class="col-md-5">
                        
                        <input name="password" type="password" class="form-control" id="pwd">
                    </div>
                </div>
                
                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit">Confirm <br> Password:</label>
                    <div class="col-md-5">
                        <input name="cnfpwd" type="password" class="form-control" id="cnfpwd">
                    </div>
                </div>
                

                <h5 class="profile-title text-center">My Pet</h5>
                <div class="col-md-5 imgPosition">
                    <label class="filebutton">
                        <span>
                            <input type="file" id="" name="myImg" onchange="attachMyPetPic(this)">
                            <img src="/image/add-img.png" alt="Add your profile picture" id="petProfile"
                                class="imgCover">
                        </span>
                    </label>
                </div>

                <div class="mw-100 d-flex justify-content-evenly">
                    <label for="inputEmail4" class="form-label text_edit">My Pet Name</label>
                    <div class="col-md-5">
                        <div class="row g-3">
                            <div class="col">
                                <input type="text" class="form-control" id="petName" name="petName">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-center">
                    <div class="col-md-5 marginPosition">
                        <div class="row g-3">
                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text">Age</label>
                                    <select id="petAge" name="petAge" class="form-select">
                                        <option selected>Choose...</option>
                                        <option value="05">0 - 5</option>
                                        <option value="610">6 - 10</option>
                                        <option value="1115">11 -15</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-center">
                    <div class="col-md-5 marginPosition">
                        <div class="row g-3">
                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text">Weight (lbs)</label>
                                    <select name="petWeight" id="petWeight" class="form-select">
                                        <option selected>Choose...</option>
                                        <option value="1050">10 - 50</option>
                                        <option value="51100">51 - 100</option>
                                        <option value="101120">101 - 120</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-center">
                    <div class="col-md-5 marginPosition">
                        <div class="row g-3">
                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text">Pet Type</label>
                                    <select id="petType" name="petType" class="form-select">
                                        <option selected>Choose...</option>
                                        <option value="dog">Dog</option>
                                        <option value="cat">Cat</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary saveBtn">Save</button>
                </div>
            </form>
        </div>
</body>
<script type="text/javascript">
    loadProfile();
  </script>

</html>