<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
        
        <div class="container justify-content-center">
            <h5 class="profile-title text-center mt-5">My Profile</h5>
            <form class="row g-3 d-flex flex-column align-items-center">
                
                <!-- CREATE PET OWNER PROFILE -->
                <div class="col-12 imgPosition">
                    <label class="filebutton">
                        <span>
                            <input type="file" id="" name="myImg" onchange="attachMyProfile(this)">
                            <img src="/image/add-img.png" alt="Add your profile picture" id="petOwnerProfile"
                                class="imgCover">
                        </span>
                    </label>
                </div>
                
                <div class="mw-100 d-flex justify-content-evenly">
                    <label for="inputEmail4" class="form-label text_edit">Name:</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="name">
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit">Email:</label>
                    <div class="col-md-5">
                        
                        <input type="email" class="form-control" id="email">
                    </div>
                </div>
                
                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit">Phone:</label>
                    <div class="col-md-5">
                        
                        <input type="text" class="form-control" id="phone">
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit">Location:</label>
                    <div class="col-md-5">
                        
                        <div class="input-group">
                            <label class="input-group-text">Province</label>
                            <select class="form-select">
                                <option selected>Choose...</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                            </select>
                            
                        </div>
                    </div>
                </div>
                
                <div class="mw-100 d-flex justify-content-around">
                    <div class="col-md-5 marginPosition">
                        <div class="input-group">
                            <label class="input-group-text">City</label>
                            <select class="form-select">
                                <option selected>Choose...</option>
                                <option>Vancouver</option>
                                <option></option>
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit">Password:</label>
                    <div class="col-md-5">
                        
                        <input type="password" class="form-control" id="pwd">
                    </div>
                </div>
                
                <div class="mw-100 d-flex justify-content-evenly">
                    <label class="form-label text_edit">Confirm <br> Password:</label>
                    <div class="col-md-5">
                        <input type="password" class="form-control" id="cnfpwd">
                    </div>
                </div>
                

                <h5 class="profile-title text-center">My Pet</h5>
                <div class="col-md-5 imgPosition">
                    <label class="filebutton">
                        <span>
                            <input type="file" id="" name="myImg" onchange="attachMyPetPic(this)">
                            <img src="/image/add-img.png" alt="Add your profile picture" id="petProfile"
                                class="imgCover">
                        </span>
                    </label>
                </div>

                <div class="mw-100 d-flex justify-content-evenly">
                    <label for="inputEmail4" class="form-label text_edit">Name</label>
                    <div class="col-md-5">
                        <div class="row g-3">
                            <div class="col">
                                <input type="text" class="form-control" id="petName">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-center">
                    <div class="col-md-5 marginPosition">
                        <div class="row g-3">
                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text">Age</label>
                                    <select class="form-select">
                                        <option selected>Choose...</option>
                                        <option>0 - 5</option>
                                        <option>6 - 10</option>
                                        <option>11 -15</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-center">
                    <div class="col-md-5 marginPosition">
                        <div class="row g-3">
                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text">Weight (lbs)</label>
                                    <select class="form-select">
                                        <option selected>Choose...</option>
                                        <option>10 - 50</option>
                                        <option>51 - 100</option>
                                        <option>101 - 120</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-center">
                    <div class="col-md-5 marginPosition">
                        <div class="row g-3">
                            <div class="col">
                                <div class="input-group">
                                    <label class="input-group-text">Pet Type</label>
                                    <select class="form-select">
                                        <option selected>Choose...</option>
                                        <option>Dog</option>
                                        <option>Cat</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary saveBtn">Save</button>
                </div>
            </form>
        </div>
</body>

</html>
<!-- <script>
    
</script> -->