<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
        <div class="container">
            <div class="jumbotron">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                            <h2>Find your best helpmate</h2>
                            <h6>Use companion finder for their pet sitting needs</h6>
                            <p><a class="btn btn-primary btn-lg" href="#" role="button">Find a companion</a></p>
                            <a href="">Are you a pet sitter looking for work?</a>
                        </div>
                        <div class="col-md-9 col-lg-6 col-xl-5">
                            <img src="/image/home-img.png" class="img-fluid rounded-pill login-img" alt="login image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row g-4">
                    <h2>Here’s how it works</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <h4>XXXXX</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Massa massa ultricies mi quis.</p>
                        </div>
                        <div class="col-sm-4">
                            <h4>XXXXX</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Massa massa ultricies mi quis.</p>
                        </div>
                        <div class="col-sm-4">
                            <h4>XXXXX</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut
                                labore et dolore magna aliqua. Massa massa ultricies mi quis.</p>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button>Get Started</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-4">
                    <h2>Pet Sitter Recommendations</h2>
                    <div class="col">
                        <div id="inam" class="carousel slide carousel-dark" data-interval="false">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="container d-block">
                                        <div class="row card-row">
                                            <div class="col-sm-4 card-col">
                                                <div class="card card-area">
                                                    <div class="card-body card-content-home">
                                                        <h4 class="card-title card-title-home" id="">Pet Name</h4>
                                                        <span class="card-text">YYYY-MM-DD</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 card-col">
                                                <div class="card card-area">
                                                    <div class="card-body card-content-home">
                                                        <h4 class="card-title card-title-home" id="">Pet Name</h4>
                                                        <span class="card-text">YYYY-MM-DD</span>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 card-col">
                                                <div class="card card-area">
                                                    <div class="card-body card-content-home">
                                                        <h4 class="card-title card-title-home" id="title-dashboard">Pet
                                                            Name</h4>
                                                        <span class="card-text card-date-dashboard">YYYY-MM-DD</span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="carousel-item">
                                    <div class="container d-block">
                                        <div class="row card-row">
                                            <div class="col-sm-4 card-col">
                                                <div class="card card-area">
                                                    <div class="card-body card-content-home">
                                                        <h4 class="card-title card-title-home" id="">Pet Name</h4>
                                                        <span class="card-text">YYYY-MM-DD</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 card-col">
                                                <div class="card card-area">
                                                    <div class="card-body card-content-home">
                                                        <h4 class="card-title card-title-home" id="">Pet Name</h4>
                                                        <span class="card-text">YYYY-MM-DD</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 card-col">
                                                <div class="card card-area">
                                                    <div class="card-body card-content-home">
                                                        <h4 class="card-title card-title-home" id="">Pet Name</h4>
                                                        <span class="card-text">YYYY-MM-DD</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- btn for prev and next -->
                            <a href="#inam" class="carousel-control-prev" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a href="#inam" class="carousel-control-next" data-bs-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h2>ABOUT US</h2>
                        <div class="row">
                            <div class="col">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Sit amet massa vitae tortor. Venenatis
                                    urna cursus eget nunc scelerisque viverra. Elit ut aliquam purus sit amet luctus
                                    venenatis lectus magna. Enim facilisis gravida neque convallis a cras semper auctor.
                                    Consectetur adipiscing elit duis tristique sollicitudin. Faucibus vitae aliquet nec
                                    ullamcorper sit amet risus nullam eget. Varius quam quisque id diam vel. Eleifend
                                    donec pretium vulputate sapien nec sagittis aliquam malesuada bibendum. Vulputate eu
                                    scelerisque felis imperdiet proin. Amet consectetur adipiscing elit ut aliquam purus
                                    sit amet. Eu mi bibendum neque egestas congue quisque egestas diam in. Etiam tempor
                                    orci eu lobortis elementum nibh tellus. Scelerisque varius morbi enim nunc faucibus
                                    a pellentesque sit amet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <%- include('../partials/footer') %>
</body>

</html>