<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <script src="./js/ownerpost.js"></script>
</head>
<body>
    <%- include('../partials/header') %>

    <div class="container justify-content-center">
        <form onsubmit="ownerPost(event)" class="row g-3 d-flex flex-column align-items-center align-content-center">

            <div class=" d-flex justify-content-evenly titlePost">
                <label for="ownerPostTitle" class="form-label">Title:</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="title" onchange="setTitle(event)">
                </div>
            </div>  

            <div class="d-flex justify-content-evenly">
                <label class="form-label">Location:</label>
                <div class="col-md-5">
                    <input type="text" class="form-control" id="province" placeholder="Province" onchange="setProvince(event)">
                </div>
            </div>

            <div class="mw-100 d-flex justify-content-around">
                <div class="col-md-5 marginPosition">
                    <input type="text" class="form-control" id="city" placeholder="City" onchange="setCity(event)">
                </div>
            </div>

            <div class="mb-3">
                <label for="" class="form-label">Description:</label>
                <textarea class="form-control" id="desc" rows="3" onchange="setDesc(event)"></textarea>
            </div>

            <div class="d-flex flex-row">
                <div>
                    <label for="">Start Date:</label>
                    <input type="date" name="" id="startdate" onchange="setStart(event)">
                </div>
                <div>
                    <label for="">End Date:</label>
                    <input type="date" name="" id="enddate" onchange="setEnd(event)">
                </div>
            </div>

            <!-- SUBMIT BUTTON -->
            <div class="col-12 text-end">
                <button type="submit" class="btn btn-primary saveBtn">Save</button>
            </div>

        </form>
    </div>


    
</body>
</html>