<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <script src="./js/ownerpost.js"></script>
</head>

<body>
    <%- include('../partials/header') %>
        <div class="container justify-content-center">
            <form onsubmit="ownerPost(event)"
                class="row g-3 d-flex flex-column align-items-center align-content-center">

                <div class=" d-flex justify-content-evenly titlePost">
                    <label for="ownerPostTitle" class="form-label">Title:</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="title" onchange="setTitle(event)">
                    </div>
                </div>

                <div class="d-flex justify-content-evenly">
                    <label class="form-label">Location:</label>
                    <div class="col-md-5">
                        <div class="input-group">
                            <label class="input-group-text">Province</label>
                            <select id="province" onchange="selectCity(this.value)">
                                class="selectpicker multiple post-province-selectpicker">
                                <option class="province-option">- Select Province or Territory -</option>
                                <optgroup label="Provinces">
                                    <option value="0">Alberta</option>
                                    <option value="1">British Columbia</option>
                                    <option value="2">Manitoba</option>
                                    <option value="3">New Brunswick</option>
                                    <option value="4">Newfoundland and Labrador</option>
                                    <option value="5">Nova Scotia</option>
                                    <option value="6">Ontario</option>
                                    <option value="7">Prince Edward Island</option>
                                    <option value="8">Quebec</option>
                                    <option value="9">Saskatchewan</option>
                                </optgroup>
                                <optgroup label="Territories">
                                    <option value="10">Northwest Territories</option>
                                    <option value="11">Yukon</option>
                                    <option value="12">Nunavut</option>
                                </optgroup>
                            </select>
                        </div>
                        <!-- <input type="text" class="form-control" id="province" placeholder="Province" onchange="setProvince(event)"> -->
                    </div>
                </div>

                <div class="mw-100 d-flex justify-content-around">
                    <div class="col-md-5 marginPosition">
                        <div class="input-group">
                            <label class="input-group-text">City</label>
                            <select id="city" class="selectpicker post-city-selectpicker">
                                <option>- Select City -</option>
                                <option value="Burnaby">Burnaby</option>
                                <option value="Coquitlam">Coquitlam</option>
                                <option value="Calgary">Calgary</option>
                                <option value="Charlottetown">Charlottetown</option>
                                <option value="Edmonton">Edmonton</option>
                                <option value="Moncton">Moncton</option>
                                <option value="Montreal">Montreal</option>
                                <option value="Northvancouver">North Vancouver</option>
                                <option value="Fredericton">Fredericton</option>
                                <option value="Halifax">Halifax</option>
                                <option value="Iqaluit">Iqaluit</option>
                                <option value="Quebeccity">Quebec City</option>
                                <option value="Richmond">Richmond</option>
                                <option value="Regina">Regina</option>
                                <option value="Surrey">Surrey</option>
                                <option value="Stjohns">St. John's</option>
                                <option value="Saskatoon">Saskatoon</option>
                                <option value="Toronto">Toronto"</option>
                                <option value="Victoria">Victoria</option>
                                <option value="Vancouver">Vancouver</option>
                                <option value="Whiterock">White Rock</option>
                                <option value="Williamslake">Williams Lake</option>
                                <option value="Winnipeg">Winnipeg</option>
                                <option value="Whitehorse">Whitehorse</option>
                                <option value="Yellowknife">Yellowknife</option>
                            </select>
                        </div>
                        <!-- <input type="text" class="form-control" id="city" placeholder="City" onchange="setCity(event)"> -->
                    </div>
                </div>

                <div class="mb-3">
                    <label for="" class="form-label">Description:</label>
                    <textarea class="form-control" id="desc" rows="3" onchange="setDesc(event)"></textarea>
                </div>

                <div class="d-flex flex-row">
                    <div>
                        <label for="">Start Date:</label>
                        <input type="date" name="" id="startdate" onchange="setStart(event)">
                    </div>
                    <div>
                        <label for="">End Date:</label>
                        <input type="date" name="" id="enddate" onchange="setEnd(event)">
                    </div>
                </div>

                <!-- SUBMIT BUTTON -->
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary saveBtn">Save</button>
                </div>

            </form>
        </div>



</body>

</html>