<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <script src="./js/ownerpost.js"></script>     
</head>

<body>
    <%- include('../partials/header') %>

        <div class="container justify-content-center">
            <form onsubmit="ownerPost(event)"
                class="row g-3 d-flex flex-column align-items-center align-content-center">

                <div class=" d-flex justify-content-center titlePost">
                    <div class="row mb-2 col-md-7 mt-3">
                        <label for="ownerPostTitle" class="col-sm-2 col-form-label text_edit">Title:</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="title" onchange="setTitle(event)">
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="row mb-2 col-md-7 mt-2">
                        <label class="col-sm-2 col-form-label text_edit">Location:</label>
                        <div class="col-md-10">
                            <div class="form-check">
                                <div class="input-group">
                                    <span class="input-group-text">Province or Territory</span>
                                    <input type="text" class="form-control" id="province"
                                        placeholder="Enter full province or territory name" onchange="setProvince(event)">
                                </div>
                            </div>

                            <div class="form-check">
                                <div class="input-group mt-2">
                                    <span class="input-group-text" id="basic-addon1">City</span>
                                    <input type="text" class="form-control" id="city" placeholder="Enter full city name"
                                        onchange="setCity(event)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex flex-column align-items-center">
                    <div class="row mb-2 col-md-7 mt-3">
                        <div class="form-group">
                            <label for="" class="col-sm-2 col-form-label text_edit">Description:</label>
                            <textarea class="form-control" id="desc" rows="3" onchange="setDesc(event)"
                                        placeholder="Type..."></textarea>
                        </div>
                        
                    </div>
                </div>
                

                <div class="mw-100 d-flex flex-row justify-content-center">
                    <div class="d-flex flex-column startDate">
                        <label for="" class="text_edit">Start Date:</label>
                        <input type="date" name="" id="startdate" onchange="setStart(event)" class="dateInput">
                    </div>
                    <div class="d-flex flex-column endDate">
                        <label for="" class="text_edit">End Date:</label>
                        <input type="date" name="" id="enddate" onchange="setEnd(event)" class="dateInput">
                    </div>
                </div>

                <!-- SUBMIT BUTTON -->
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary saveBtn">Save</button>
                </div>

            </form>
        </div>



</body>

</html>