<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <script src="./js/ownerpost.js"></script>
</head>

<body>
    <%- include('../partials/header') %>
        <div class="container justify-content-center">
            <div class="row">
                <div class="col-12">
                    <div class="my-5 post-title-area text-center">
                        <h3>Post &nbsp;A &nbsp;Pet &nbsp;Request</h3>
                        <hr class="post-hr">
                    </div>
                    <form onsubmit="ownerPost(event)"
                        class="row g-3 d-flex flex-column align-items-center align-content-center">
                        <div class="col-xxl-8">
                            <div class="bg-secondary-soft px-4 py-4 rounded sitter-input-area">
                                <div class=" d-flex titlePost">
                                    <div class="col-lg-6">
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label for="ownerPostTitle"
                                                    class="col-sm-2 col-form-label text_edit">Title</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control input-border owner-input-title" id="title"
                                                onchange="setTitle(event)">
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-lg-6">
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label for=""
                                                    class="col-sm-2 col-form-label text_edit">Description:</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <textarea class="form-control input-border desc-input" id="desc" rows="3"
                                                onchange="setDesc(event)"
                                                placeholder="Tell us more about your companion..."></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3">
                                    <div class="col-lg-6">
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label for="" class="text_edit">Start Date:</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="date" name="" id="startdate" onchange="setStart(event)"
                                                class="dateInput start-date">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label for="" class="text_edit">End Date:</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="date" name="" id="enddate" onchange="setEnd(event)"
                                                class="dateInput end-date">
                                        </div>
                                    </div>
                                </div>
                                <!-- SUBMIT BUTTON -->
                                <div class="col-12 text-end">
                                    <button type="submit" class="btn btn-primary saveBtn">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
</body>

</html>