<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body>
  <section class="vh-100">
    <div class="container-fluid h-custom register-h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="/image/register-img.png" class="img-fluid" alt="register image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <h1 class="register-title ">Register</h1>
          <hr class="hr hr-blurry register-hr"> 
          <form class="register-form" onsubmit="submitRegisterForm(event)">
            <!-- Email input -->
            <div class="form-outline mb-4 register-form-outline">
              <label class="form-label" for="reg-email">Email address</label>
              <input type="email" id="regEmail" class="form-control form-control-lg register-form-control" onkeyup="setEmail(event)" />
            </div>
            <!-- Password input -->
            <div class="form-outline mb-3 register-form-outline">
              <label class="form-label" for="reg-pwd">Password</label>
              <input type="password" id="regPwd" class="form-control form-control-lg register-form-control" onkeyup="setPassword(event)" />
            </div>
            <!--Confirm Password input -->
            <div class="form-outline mb-3 register-form-outline">
              <label class="form-label" for="cnfPwd">Confirm Password</label>
              <input type="password" id="cnfPwd" class="form-control form-control-lg register-form-control"
                onkeyup="setConfPassword(event)" />
            </div>
            <div class="have-an-account d-flex justify-content-between align-items-center">
              <a href="/login">Have an account?</a>
            </div>
            <h6 class="are-you">Are You?</h6>
            <div class="form-check form-check-inline user-type">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="owner" value="owner" checked
                onchange="handleClick(event)" />
              <label class="form-check-label" for="pet-owner">Pet Owner</label>
            </div>
            <div class="form-check form-check-inline user-type">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="sitter" value="sitter"
                onchange="handleClick(event)" />
              <label class="form-check-label" for="pet-sitter">Pet Sitter</label>
            </div>
            <div class="d-flex align-items-center justify-content-center mt-4 pt-2 sign-up-btn-area">
              <button type="submit" class="btn btn-primary btn-lg sign-up-btn">Sign up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</body>

</html>