<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
        <script src="./js/petsitterpost.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
            integrity="sha512-3P8rXCuGJdNZOnUx/03c1jOTnMn3rP63nBip5gOP2qmUh5YAdVAvFZ1E+QLZZbC1rtMrQb+mah3AfYW11RUrWA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"
            integrity="sha512-vyxlyD6m54QfZ9PpnWfOHY8Lk3EcN1HuSYalLg3qqnqXLKTbRC/45lvy34WkngM1BUrYuJw1W1ZHlgEpdAn5Xg=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"
            integrity="sha512-vhvVqvC9Q8uUrq9PqvULhS+jX7ljOAzGRM0AMDqEPZmk4yG8tloWebj2TfJ8fYw0EzBNXU5kZ695eJqT0qo03w=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
            integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
    <%- include('../partials/header') %>
        <div class="container justify-content-center">
            <div class="row">
                <div class="col-12">
                    <div class="my-5 post-title-area text-center">
                        <h3>Post A Request</h3>
                        <hr class="post-hr">
                    </div>
                    <form onsubmit="sitterPost(event)"
                        class="row g-3 d-flex flex-column align-items-center align-content-center">
                        <div class="col-xxl-8">
                            <div class="bg-secondary-soft px-4 py-4 rounded sitter-input-area">
                                <div class=" d-flex titlePost">
                                    <div class="col-lg-6">
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label for="ownerPostTitle"
                                                    class="col-sm-2 col-form-label text_edit">Title</label>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control input-border sitter-input-title"
                                                id="title" onchange="setTitle(event)" placeholder="Title">
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="row g-3">
                                    <div class="col-lg-6">
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label for="amount"
                                                    class="col-sm-3 col-form-label text_edit">Rate(CAD)</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="text" id="rate" name="rate" placeholder="$"
                                                onchange="setRate(event)"
                                                class="form-control input-border rate-inputChange">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label for="amount"
                                                    class="col-sm-3 col-form-label text_edit">City</label>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <label class="input-group-text"><img class="post-city-icon"
                                                    src="/image/city-hall.png" /></label>
                                            <select id="city" name="city" class="form-select" value="">
                                                <option value="Choose">Choose...</option>
                                                <option value="Burnaby">Burnaby</option>
                                                <option value="Coquitlam">Coquitlam</option>
                                                <option value="Calgary">Calgary</option>
                                                <option value="Charlottetown">Charlottetown
                                                </option>
                                                <option value="Edmonton">Edmonton</option>
                                                <option value="Moncton">Moncton</option>
                                                <option value="Montreal">Montreal</option>
                                                <option value="Northvancouver">>North Vancouver</option>
                                                <option value="Fredericton">Fredericton
                                                </option>
                                                <option value="Halifax">Halifax</option>
                                                <option value="Iqaluit">Iqaluit</option>
                                                <option value="Quebeccity">Quebec City
                                                </option>
                                                <option value="Richmond">Richmond</option>
                                                <option value="Regina">Regina
                                                </option>
                                                <option value="Surrey">Surrey
                                                </option>
                                                <option value="Stjohns">St.John's</option>
                                                <option value="Saskatoon">Saskatoon</option>
                                                <option value="Toronto">Toronto</option>
                                                <option value="Victoria">Victoria</option>
                                                <option value="Vancouver">Vancouver</option>
                                                <option value="White Rock">White Rock
                                                </option>
                                                <option value="Williamslake">Williams Lake
                                                </option>
                                                <option value="Winnipeg">Winnipeg</option>
                                                <option value="Whitehorse">Whitehorse
                                                </option>
                                                <option value="Yellowknife">Yellowknife
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label class="col-sm-3 col-form-label text_edit">Services</label>
                                            </div>
                                        </div>
                                        <div class="input-group">
                                            <label class="input-group-text"><img class="post-service-icon"
                                                    src="/image/sitter-service.png" /></label>
                                            <select class="form-select" id="services" name="services"
                                                onchange="setServices(event)">
                                                <option value="Select Services">Select Services</option>
                                                <option value="Walking">Walking</option>
                                                <optgroup label="Caring">
                                                    <option value="Boarding">Boarding</option>
                                                    <option value="House Sitting">House Sitting</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="row g-3">
                                            <div class="col-md-6">
                                                <label class="col-sm-3 col-form-label text_edit availability-date">Availability Date</label>
                                            </div>
                                        </div>
                                        <div class="input-group mb-3">
                                            <label class="input-group-text"><img class="post-date-icon"
                                                src="/image/icon-calendar.png" /></label>
                                                <input type="text" class="form-control" id="Dates" name="Dates"
                                                placeholder="Select days" required >
                                          </div>
                                          
                                        <!-- <div class="input-group date form-group" id="datepicker">
                                            <input type="text" class="form-control" id="Dates" name="Dates"
                                                placeholder="Select days" required />
                                            <span class="input-group-addon"><i
                                                    class="glyphicon glyphicon-calendar"></i><span
                                                    class="count"></span></span>
                                        </div> -->
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <label for="" class="col-sm-3 col-form-label text_edit">Experiences</label>
                                    <textarea class="form-control input-border experience-input" id="experience"
                                        name="experience" rows="3" onchange="setExp(event)"
                                        placeholder="Type your experiences in pet sitting..."></textarea>
                                </div>
                                <!-- SUBMIT BUTTON -->
                                <div class="col-lg-12 text-end">
                                    <button type="submit" id="getValue"
                                        class="btn btn-primary post-save-btn">Save</button>
                                </div>
                            </div>


                        </div>
                    </form>
                </div>
            </div>
        </div>

</body>

</html>
<script>
    //     $(document).ready(function() {
    //   $('#datepicker').datepicker({
    //     startDate: new Date(),
    //     multidate: true,
    //     format: "dd/mm/yyyy",
    //     daysOfWeekHighlighted: "5,6",
    //     datesDisabled: ['31/08/2017'],
    //     language: 'en'
    //   }).on('changeDate', function(e) {
    //     // `e` here contains the extra attributes
    //     //$(this).find('.input-group-addon .count').text(' ' + e.dates.length);
    //   });
    // });


    // Initialize datepicker
    $('#datepicker').datepicker({
        multidate: true, // Allow multiple dates to be selected
        format: 'yyyy-mm-dd', // Set the date format
        todayHighlight: true // Highlight today's date
    });

</script>