<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>   
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="./js/petsitterpost.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

</head>
<body>
    <%- include('../partials/header') %>

    <div class="container justify-content-center containerForm">
        <form onsubmit="sitterPost(event)">

            <div class="d-flex justify-content-center">
                <div class="row mb-3 col-md-6 mt-4">
                    <label for="ownerPostTitle" class="col-sm-2 col-form-label text_edit">Title:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" onchange="setTitle(event)">
                    </div>
                </div>
                
            </div>  

            <div class="d-flex justify-content-center mt-3">
                <div class="row mb-3 col-md-6">
                    <label class="col-form-label col-sm-2 pt-0 text_edit">Location</label>
                    <div class="col-sm-10">
                        <div class="form-check">
                            
                            <div class="input-group">
                                <label class="input-group-text">Province</label>
                                <select class="form-select">
                                    <option selected>Choose...</option>
                                    <option>France</option>
                                    <option>Germany</option>
                                    <option>Hungary</option>
                                </select>
                            </div>
                            
                        </div>
                        <div class="form-check">
                            <div class="input-group">
                                <label class="input-group-text">City</label>
                                <select class="form-select">
                                    <option selected>Choose...</option>
                                    <option>One</option>
                                    <option>Two</option>
                                    <option>Three</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div>
                <p>
                    <label for="amount">Rate(CAD):</label>
                    <input type="text" id="rate" readonly style="border:0; color:#6B9080; font-weight:bold; background-color: #F6FFF8;" onchange="setRate(event)">
                </p>
                <div id="slider-range"></div>
                <div class="d-flex flex-row justify-content-between mt-2">
                    <label for="" id="startrate" style="color: #6B9080; font-weight: bold;"></label>              
                    <label for="" id="endrate" style="color: #6B9080; font-weight: bold;"></label>
                </div>
            </div> -->

            <div class="d-flex justify-content-center">
                <div class="row mb-3 col-md-6 mt-4">
                    <label for="" class="col-sm-2 col-form-label text_edit">Rate(CAD):</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="" onchange="">
                    </div>
                </div>
                
            </div>  

            <div class="mb-3">
                <label for="" class="form-label">Experiences:</label>
                <textarea class="form-control" id="experience" rows="3" onchange="setExp(event)"></textarea>
            </div>

            <!-- SUBMIT BUTTON -->
            <div class="col-12 text-end">
                <button type="submit" id="getValue" class="btn btn-primary saveBtn" onclick="testing()">Save</button>
            </div>
        </form>
    </div>

</body>
</html>
<script>
    $( function() {
          $( "#slider-range" ).slider({
            range: true,
            min: 0,
            max: 250,
            values: [ 0, 250 ],
            slide: function( event, ui ) {
            //   $( "#rate" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
              $( "#startrate" ).text( "$" + ui.values[ 0 ]);
              $( "#endrate" ).text( "$" + ui.values[ 1 ]);
            }
          });

          $( "#startrate" ).text( "$" + $( "#slider-range" ).slider( "values", 0 ));
          $( "#endrate" ).text( "$" + $( "#slider-range" ).slider( "values", 1 ));
          
    });  
</script>

<!-- <script>
    function testing(){
        var startRate = document.getElementById('startrate').textContent;
        var endrate = document.getElementById('endrate').textContent;

        console.log("Start rate: " + startRate);
        console.log("End rate: " + endrate);
    }
</script> -->

<!-- <script>
    //JQuery test DONT ERASE IT YET
    //To get a value from the slides after button save is clicked
    $(document).ready(function () {
        $('#getValue').click(function () {
            var startrate = $("#startrate").text();
            var endrate = $("#endrate").text();
            alert("Testing Start rate:" + startrate)
            alert("Testing End rate:" + endrate)
        });
    });
</script> -->