<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="carousel">
        <% let count = 0; %>
        <% carouselData.forEach((data, index) => { %>
          <% if (index % 6 === 0) { %>
            <div class="carousel-item">
              <% } %>
              <div class="column">
                // column 的 HTML 代码
              </div>
              <% count++; %>
              <% if (count === 6) { %>
            </div>
            <% count = 0; %>
            <% } %>
            <% }); %>
            <% if (count > 0) { %>
          </div>
          <% } %>
    </div>
</body>

</html>