<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
</head>

<body>
    <%- include('../partials/header') %>
        <!-- <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 ">
                        <h3 class="mb-md-5 mb-3 mt-4" style="color: #5B44C2;font-weight: 700;">Sample Card</h3>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-6 card-tal">
                        <div class="container-fluid card-tal-con">
                            <div class="row">
                                <div class="col-6">
                                    <hr style="background-color: white;border-top: 2px solid rgb(255 255 255);">
                                </div>
                                <div class="col-6">
                                    <h2>Talk</h2>
                                </div>
                                <div class="col-md-6">
                                    <img class="p-" style="width: 100%;"
                                        src="https://d1g4kfwzlre9gg.cloudfront.net/491x276/prod/images/77202070015.jpeg"
                                        alt="">
                                </div>
                                <div class="col-md-6">
                                    <div class="pt-2 pt-md-1">
                                        <h5>Data Science and Machine Learning</h5>
                                        <p>Chanandler Bong</p>
                                        <p>8th Oct 2020</p>
                                    </div>
                                </div>
                                <div class="col-2 col-md-6"></div>
                                <div class="col-10 col-md-6">
                                    <button class="btn mx-0 py-2 px-5">Register Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 card-tal">
                        <div class="container-fluid card-tal-con">
                            <div class="row">
                                <div class="col-6">
                                    <hr class="bg-white">
                                </div>
                                <div class="col-6">
                                    <h2>Talk</h2>
                                </div>
                                <div class="col-md-6">
                                    <img class="p-" style="width: 100%;"
                                        src="https://d1g4kfwzlre9gg.cloudfront.net/491x276/prod/images/77202070015.jpeg"
                                        alt="">
                                </div>
                                <div class="col-md-6">
                                    <div class="">
                                        <h5>Data Science and Machine Learning</h5>
                                        <p>Chanandler Bong</p>
                                        <p>8th Oct 2020</p>
                                    </div>
                                </div>
                                <div class="col-6"></div>
                                <div class="col-6">
                                    <button class="btn  py-2 px-5">Register Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
          </div>



</body>

</html>